  <div class="container mt-4">
    <h2 class="text-center">Investment Summary (over 9 years)</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Total Contributions</h5>
            <p class="card-text">
          <%= @contributions.present? ? @contributions.last.amount * @contributions.count : "No contributions found" %>
           </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Total Interest</h5>
            <p class="card-text">
              <%= @contributions.present? ?@contributions.last.total - (@contributions.last.amount *  @contributions.count) : "No contributions found" %>
              </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Total Result</h5>
            <p class="card-text"><%= @contributions.last.total %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
