<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="d-flex-container">
      <h2 class="text-left mb-3">Contribute Here</h2>
      <p class="text-muted text center">Please enter your monthly contribution below.</p>
      <%= simple_form_for [@investment, @contribution] do |f| %>
        <div class="mb-3">
          <div class="input-group justify-content-between">
            <input type="text" name="contribution[amount]" class="form-control" placeholder="Enter amount" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary btn-sm" type="submit" id="button-addon2">Contribution</button>
            <%#= f.input :amount, class: "form-control", label: false, placeholder: "Enter your amount" %>
            <%#= f.button :submit, class: 'btn btn-primary btn-sm' %>
          </div>
          <%= f.hidden_field :investment_id, value: @investment.id %>
        </div>
      <% end %>
    </div>
  </div>
</div>
