<h1>Create Contribution</h1>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= simple_form_for [@investment, @contribution], html: { class: 'form-horizontal border p-4 rounded shadow-sm bg-light' } do |f| %>
        <div class="mb-3">
          <%= f.input :amount, label: false, placeholder: "Enter amount", input_html: { class: 'form-control form-control-sm' } %>
        </div>

        <div class="d-flex justify-content-end">
          <%= f.button :submit, class: 'btn btn-primary btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
