<div class="container row d-flex justify-content-center" style="background-color: #2596be; border-radius: 10px;">
  <h1 class="text-center text-white my-4"><%= "#{@investment.name} / #{@investment.etf.name}" %></h1>
</div>
<%= render 'form_create_contribution' %>
<% unless @investment.contributions.last.nil? %>
  <%= render 'investment_info' %>
  <%= render 'display_investment_details' %>
<% end %>
