<h1 class="text-center my-4">ETFs List</h1>
<div class="container">
  <div class="row">
    <% if @favorites.empty? %>
      <div class="col-md-12">
        <br>
        <br>
        <br>
        <h2 class="text-center">No ETFs added to favorites yet</h2>
        <br>
        <br>
        <br>
      </div>
    <% end %>
    <% @favorites.each do |etf| %>
      <div class="col-md-4 mb-4">
        <%= render etf %>
      </div>
    <% end %>
  </div>
</div>
