.group-card-risk {
  height: 499px;
  width: 551px;
}

.group-card-risk .overlap {
  height: 499px;
  position: relative;
}

.group-card-risk .rectangle {
  background-color: #3795bd;
  border-radius: 7px;
  box-shadow: 0px 4px 4px #00000040;
  height: 109px;
  left: 56px;
  opacity: 0.68;
  position: absolute;
  top: 339px;
  width: 128px;
}

.group-card-risk .div {
  background-color: #d9d9d9;
  border-radius: 7px;
  box-shadow: 0px 4px 4px #00000040;
  height: 109px;
  left: 216px;
  opacity: 0.68;
  position: absolute;
  top: 339px;
  width: 128px;
}

.group-card-risk .rectangle-2 {
  background-color: #b47777;
  border-radius: 7px;
  box-shadow: 0px 4px 4px #00000040;
  height: 109px;
  left: 372px;
  opacity: 0.68;
  position: absolute;
  top: 339px;
  width: 128px;
}

.group-card-risk .all-time {
  color: #00000080;
  font-family: "Arial-NarrowBold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 236px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2px 4.5px #00000040;
  top: 376px;
  white-space: nowrap;
  width: 91px;
}

.group-card-risk .lower {
  color: #00000080;
  font-family: "Arial-NarrowBold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 73px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2px 4.5px #00000040;
  top: 376px;
  white-space: nowrap;
  width: 91px;
}

.group-card-risk .higher {
  color: #00000080;
  font-family: "Arial-NarrowBold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 391px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2px 4.5px #00000040;
  top: 376px;
  white-space: nowrap;
  width: 91px;
}

.group-card-risk .if-you-invest-in {
  height: 29px;
  left: 80px;
  position: absolute;
  top: 65px;
  width: 424px;
}

.group-card-risk .text-wrapper {
  color: #00000080;
  font-family: "Arial-NarrowBold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 2px 4.5px #00000040;
  top: 7px;
  width: 136px;
}

.group-card-risk .overlap-group {
  background-color: #d9d9d9;
  border-radius: 7px;
  box-shadow: 0px 4px 4px #00000040;
  height: 29px;
  left: 136px;
  position: absolute;
  top: 0;
  width: 284px;
}

.group-card-risk .text-wrapper-2 {
  color: #000000;
  font-family: "Arial-NarrowBold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: 234px;
}

.group-card-risk .with-a-monthly {
  height: 30px;
  left: 73px;
  position: absolute;
  top: 154px;
  width: 389px;
}

.group-card-risk .p {
  color: #00000080;
  font-family: "Arial-NarrowBold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 2px 4.5px #00000040;
  top: 0;
  width: 208px;
}

.group-card-risk .div-wrapper {
  background-color: #00cccc;
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  height: 30px;
  left: 221px;
  position: absolute;
  top: 0;
  width: 97px;
}

.group-card-risk .text-wrapper-3 {
  color: #000000;
  font-family: "Arial-NarrowBold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 61px;
}

.group-card-risk .text-wrapper-4 {
  color: #00000080;
  font-family: "Arial-NarrowBold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  left: 318px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2px 4.5px #00000040;
  top: 0;
  width: 65px;
}

.group-card-risk .text-wrapper-5 {
  color: #00000080;
  font-family: "Arial-NarrowBold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2px 4.5px #00000040;
  top: 239px;
  width: 406px;
}

.group-card-risk .text-wrapper-6 {
  color: #00000080;
  font-family: "Arial-NarrowBold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 2px 4.5px #00000040;
  top: 289px;
  width: 364px;
}

.group-card-risk .rectangle-3 {
  background-color: #d9d9d921;
  box-shadow: 0px 11px 4.4px #00000040;
  height: 499px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 551px;
}
