<div class="footer-title-wrapper">
  <div class="footer-title-container">
    <span class="line"></span>
    <span class="title">Inverly Investments</span>
    <span class="line"></span>
  </div>
</div>
<footer class="footer">
  <div class="footer-content">
    <aside class="footer-brand">
      <div class="footer-icon"></div>
      <p class="brand-text">
        Inverly Investments Ltd.
        <br />
        Providing investment options since 2024.
      </p>
    </aside>
    <nav>
      <h6 class="footer-heading">Services</h6>
      <a class="footer-link">ETF Listings</a>
      <a class="footer-link">Investments</a>
      <a class="footer-link">Marketing</a>
      <a class="footer-link">Advertisement</a>
    </nav>
    <nav>
      <h6 class="footer-heading">Company</h6>
      <a class="footer-link">About us</a>
      <a class="footer-link">Contact</a>
      <a class="footer-link">Jobs</a>
      <a class="footer-link">Press kit</a>
    </nav>
    <nav>
      <h6 class="footer-heading">Legal</h6>
      <a class="footer-link">Terms of use</a>
      <a class="footer-link">Privacy policy</a>
      <a class="footer-link">Cookie policy</a>
    </nav>
  </div>
</footer>
