
  <div class="card col-8 justify-content-center">
    <%= line_chart [
          { name: 'Investment and returns', data: @cumul_count, color: 'blue' },
          { name: 'Amount invested', data: @cumul_amounts, color: 'red' }
        ], height: '400px' %>
  </div>
