<h1 class="text-center my-4">ETFS LIST</h1>
<div class="container">
  <div class="row">
    <% @etfs.each do |etf| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to etf.name, etf_path(etf) %></h5>
            <div class="icon">▲</div>
            <h6 class="card-subtitle mb-2 text-muted"><%= etf.ticker_symbol %></h6>
            <p class="card-text"><%= etf.description %></p>
            <%= link_to 'View Details', etf_path(etf), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
