<div class="search-bar">
  <%= form_with url: etfs_path, method: :get, local: true do |form| %>
    <div class="d-flex justify-content-end px-3">
      <%= form.text_field :query, value: params[:query], placeholder: "Enter an ETF..." %>
      <%= form.submit "Search", class: "search-button" %>
    </div>
  <% end %>
</div>

<h1 class="text-center my-4">Welcome to your ETF Index</h1>
<div class="container" style="border-radius: 10px;">
<div class="container">
  <div class="row">
    <% @etfs.each do |etf| %>
      <div class="col-md-4 mb-4">
        <%= render etf %>
      </div>
    <% end %>
  </div>
</div>
