<div>
  <div class="container" style="margin-top: 18px;">
    <div class="row">
        <div class="card-body">
          <%# <h4 class="card-title">Basic Information:</h4> %>
          <div class="col"> <%= render 'shared/basic_info' %></div>
        </div>
    <div class="row">
        <div class="col">
          <div class="etf-graph-example">
            <%= render 'shared/investment_graph' %>
          </div>
        </div>
        <div class="col"><%= render 'shared/render_holdings' %></div>
    </div>
  </div>
</div>
