<% content_for(:navbar_class, "navbar-home") %>
<div class="banner">
  <div class="banner-content text-center">
    <h1>INVERLY: Invest Early</h1>
    <p>"INVERLY: Empowering Your Tomorrow, Starting Today."
      <div>
        <%= link_to "Sign Up Now", new_user_session_path, class: "btn btn-lg btn-" %>
      </div>
    </div>
  </div>
