.container {
  width: 80%; /* or a fixed width like 1200px */
  max-width: 1200px; /* Ensures it doesn’t exceed a maximum width */
  height: auto; /* Adjusts height to fit content */
  margin: 0 auto; /* Centers the container */
  padding: 20px; /* Adds inner spacing */
  background-color: #f8f9fa;
  margin-bottom: 50px; /* Optional: adds a background color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.column-text {
  font-weight: bold;
  font-size: 24px;
  opacity: 0.8;
}
