.simulate-now-button {
  background-color: #3795bd;
  border-radius: 6px;
  border: none;
  padding: 8px 16px;
  margin: 0 0 0 7px;
  color: white;
  text-decoration: none;
  // background-color: inherit; /* Keeps the background color unchanged */
  // color: inherit; /* Keeps the text color unchanged */
  border-color: inherit;
  &:hover {
    background-color: #2b6e8b !important;
    color: white !important;
  }
}
